@layer base {
  *,
  *::before,
  *::after {
    @apply box-border antialiased;
  }

  body {
    @apply w-full h-full p-0 m-0 text-neutral-900 bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-100;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg font-bold;
  }

  a {
    @apply no-underline cursor-pointer;
  }
  a:hover,
  a:active {
    @apply underline;
  }
  button a:hover {
    @apply no-underline;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 text-center font-medium transition duration-150 ease-in-out cursor-pointer rounded-lg;
  }
  .btn:disabled,
  .btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-primary {
    @apply text-sky-900 bg-sky-100 brand-shadow shadow-sky-900/25 hover:bg-sky-200;
  }
  .btn-secondary {
    @apply text-neutral-900 bg-neutral-50 brand-shadow shadow-black/25 hover:bg-neutral-200;
  }
  .btn-outline {
    @apply text-neutral-900 dark:text-neutral-200 bg-transparent border border-neutral-900 dark:border-neutral-400 hover:bg-neutral-100 dark:hover:bg-neutral-700;
  }
  .btn-outline-primary {
    @apply text-sky-900 dark:text-sky-200 dark:hover:text-sky-900 bg-transparent border border-sky-900 dark:border-sky-300 hover:bg-sky-100 dark:hover:bg-sky-200 brand-shadow shadow-sky-900/25;
  }
  .btn-outline-danger {
    @apply text-red-900 dark:text-red-200 dark:hover:text-red-900 bg-transparent border border-red-900 dark:border-red-300 hover:bg-red-100 dark:hover:bg-red-200 brand-shadow shadow-red-900/25;
  }
  .btn-dashed-primary {
    @apply text-sky-900 dark:text-sky-200 dark:hover:text-sky-900 bg-transparent border border-dashed border-sky-900 dark:border-sky-300 hover:bg-sky-100 dark:hover:bg-sky-200 brand-shadow shadow-sky-900/25;
  }
  .btn-danger {
    @apply text-red-900 bg-red-50 brand-shadow shadow-red-900/25 hover:bg-red-200;
  }
  .btn-success {
    @apply text-green-900 bg-green-50 brand-shadow shadow-green-900/25 hover:bg-green-200;
  }
  .btn-flat-secondary {
    @apply text-neutral-900 dark:text-neutral-200 bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-700 border-none;
  }
  .btn-flat-primary {
    @apply text-sky-900 dark:text-sky-200 bg-transparent hover:bg-sky-100 dark:hover:text-sky-900 border-none;
  }
  .btn-flat-danger {
    @apply text-red-900 dark:text-red-200 bg-transparent hover:bg-red-100 dark:hover:bg-red-700 border-none;
  }

  .checkbox {
    @apply brand-shadow h-5 w-5 cursor-pointer rounded-lg border-none bg-neutral-50 accent-sky-900 shadow-black/25 ring-sky-900 checked:bg-sky-100 checked:shadow-sky-900/25 hover:bg-neutral-200 checked:hover:bg-sky-200 focus:outline-none focus:ring-2 focus:ring-neutral-900 dark:focus:ring-neutral-900 checked:focus:bg-sky-200 checked:focus:ring-sky-900 dark:bg-neutral-600 dark:checked:bg-sky-100 dark:hover:bg-neutral-500 dark:checked:hover:bg-sky-200;
  }

  [type='checkbox']:checked {
    padding: 2px;
    background-origin: content-box;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2168 3.17567C10.3293 3.28819 10.3925 3.44077 10.3925 3.59987C10.3925 3.75897 10.3293 3.91156 10.2168 4.02407L5.41683 8.82407C5.30431 8.93655 5.15173 8.99974 4.99263 8.99974C4.83353 8.99974 4.68094 8.93655 4.56843 8.82407L2.16843 6.42407C2.05913 6.31091 1.99866 6.15935 2.00002 6.00203C2.00139 5.84471 2.06449 5.69423 2.17574 5.58298C2.28698 5.47174 2.43747 5.40863 2.59479 5.40727C2.7521 5.4059 2.90367 5.46638 3.01683 5.57567L4.99263 7.55147L9.36843 3.17567C9.48094 3.06319 9.63353 3 9.79263 3C9.95173 3 10.1043 3.06319 10.2168 3.17567Z' fill='%23312E81'/%3E%3C/svg%3E%0A");
  }

  [type='checkbox']:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .markdown {
    @apply p-4;
  }

  .markdown ol {
    @apply list-decimal whitespace-normal;
  }

  .markdown ul {
    @apply list-disc whitespace-normal;
  }

  .markdown li {
    @apply list-item ml-4;
  }

  .markdown li::marker {
    @apply font-bold;
  }

  .markdown p code,
  .markdown li code {
    @apply text-neutral-900 dark:text-neutral-300 bg-neutral-200 dark:bg-neutral-800 p-1 rounded-lg;
  }

  .markdown code {
    @apply rounded-lg;
  }

  .markdown blockquote {
    @apply brand-shadow2 whitespace-normal p-4 brand-shadow rounded-lg border border-sky-50 font-medium text-sky-900 shadow-sky-900/25 dark:border-sky-100 dark:text-sky-50 dark:shadow-sky-50/25;
  }
}

@layer utilities {
  .brand-shadow {
    box-shadow: 0px 1px 1px var(--tw-shadow-color);
  }
  .brand-shadow2 {
    box-shadow: 0px 1px 4px var(--tw-shadow-color);
  }
}
