python-dotenv
requests
mysql-connector-python
passlib
pytest
pytest-env
pytest-mock
pylint
pylint-pydantic
pytest-dotenv
wrapt_timeout_decorator
paramiko
alembic
fastapi
fastapi_jwt_auth
pydantic
pydantic[email]
pydantic-collections
uvicorn[standard]
python-multipart
